<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
        <link type="text/css" rel="stylesheet" th:href="@{/style.css}"/>
        <title>Examples</title>
    </head>
    <body>
        <div></div>
        <div class="container">
            <h1>Example Projects</h1>
            <div>
                <h3>Java</h3>
				<ul>
					<li><a th:href="@{fulfillment}">Fulfillment System</a></li>
				</ul>
            </div>
            <div>
                <h3>Web app</h3>
				<ul>
					<li><a th:href="@{Calculator}">A simple Calculator</a></li>
					<li><a th:href="@{sudoku}">Sudoku</a></li>
				</ul>
            </div><!--
            <div>
                <h3>C++</h3>
				<ul>
					<li>In the works.</li>
					<li><a href="${pageContext.request.contextPath}/.jsp"></a></li>
				</ul>
            </div>
            <div>
                <h3>Python</h3>
				<ul>
					<li>In the works.</li>
					<li><a href="${pageContext.request.contextPath}/.jsp"></a></li>
				</ul>
            </div> -->
        </div>
		<div></div>
    </body>
</html>
