
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Jacob Humrich</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link type="text/css" rel="stylesheet" th:href="@{/style.css}"/>
        <script type="text/javascript">
        
        </script>
    </head>
    
    <body>
        <form action = "/snowreport" method ="get">
            <input type="submit" value="Snow Report" />
        </form>
    </body>
</html>