
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
        <title>Jacob Humrich</title>
        <link type="text/css" rel="stylesheet" href="../style.css" th:href="@{/style.css}" media="screen"/>
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    </head>
    
    <body>
        <div class="container">
            <h2>Welcome</h2>
            <p>I set this site up to showcase my skills.</p>
            <ul>
                <li><a th:href="@{/intro}">Introduction</a> of myself</li>
                <li><a th:href="@{/examples}">Examples</a> of my work</li>
            </ul>
            <form action = "/snowreport" method ="get">
                <input type="submit" value="Snow Report" />
            </form>
        </div>
    </body>
</html>