
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Jacob Humrich</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link type="text/css" rel="stylesheet" th:href="@{/style.css}"/>
        <script type="text/javascript">
            
            var conditionsMap =  new Map([
                [0, '/conditions/C17_hail.png'], [1, "/conditions/C1_tropical_storm.png"], [2, "/conditions/C2_hurricane.png"], [3, "/conditions/C4_thunderstorms.png"], [4, "/conditions/C4_thunderstorms.png"], 
                [5, "/conditions/C5_rain_snow.png"], [6, "/conditions/C5_rain_snow.png"], [7, "/conditions/C7_snow_sleet.png"], [8, "/conditions/C8_freezing_drizzle.png"], [9, "/conditions/C8_freezing_drizzle.png"], 
                [10, "/conditions/C10_freezing_rain.png"], [11, "/conditions/C11_showers.png"], [12, "/conditions/C12_hail.png"], [13, "/conditions/C16_snow.png"], [14, "/conditions/C16_snow.png"], 
                [15, "/conditions/C16_snow.png"], [16, "/conditions/C16_snow.png"], [17, "/conditions/C17_hail.png"], [18, "/conditions/C18_sleet.png"], [19, "/conditions/C19_dust.png"], 
                [20, "/conditions/C20_foggy.png"], [21, "/conditions/C21_haze.png"], [22, "/conditions/C22_smoky.png"], [23, "/conditions/C23_blustery.png"], [24, "/conditions/C24_windy.png"], 
                [25, "/conditions/C25_cold.png"], [26, "/conditions/C26_cloudy.png"], [27, "/conditions/C27_mostly_cloudy_night.png"], [28, "/conditions/C28_mostly_cloudy.png"], [29, "/conditions/C29_partly_cloudy_night.png"], 
                [30, "/conditions/C30_partly_cloudy_day.png"], [31, "/conditions/C31_clear_night.png"], [32, "/conditions/C32_sunny.png"], [33, "/conditions/C31_clear_night.png"], [34, "/conditions/C32_sunny.png"], 
                [35, "/conditions/C17_hail.png"], [36, "/conditions/C36_hot.png"], [37, "/conditions/C4_thunderstorms.png"], [38, "/conditions/C4_thunderstorms.png"], [39, "/conditions/C4_thunderstorms.png"], 
                [40, "/conditions/C11_showers.png"], [41, "/conditions/C16_snow.png"], [42, "/conditions/C16_snow.png"], [43, "/conditions/C16_snow.png"], [44, "/conditions/C26_cloudy.png"], 
                [45, "/conditions/C4_thunderstorms.png"], [46, "/conditions/C16_snow.png"], [47, "/conditions/C47_isolated_thundershowers.png"], [3200, "/conditions/C3200_not_avalible.png"]
            ]);
              
            var counter = 0;
            function getWeatherDemo(o){
                var items = o.query.results.channel;
                var currentOut = '';
                var temp = items.item.condition.temp;
                var text = items.item.condition.text;
                var daysInForcast = items.item.forecast.length;
                var location = items.location;
                currentOut += "<h1>" + location.city + ", " + location.region + "</h1>";
                currentOut += "<p>The current conditions are: " + temp + " and "+ text + "</p>";
                var forecastOut = '';
                
                //sets the div for the location and the current 
                var div = document.createElement("div");
                div.setAttribute("id", location.city);
                div.innerHTML = currentOut;
                var main = document.getElementById('forecast');
                main.appendChild(div);
                
                //sets the div for the 10 day forcast for the location
                div = document.createElement("div");
                div.setAttribute("id", "forecast" + location.city);
                
                if(daysInForcast > 5)
                    daysInForcast = 5;
                
                for(var i = 0; i < daysInForcast; i++){
                    var date = items.item.forecast[i].date;
                    var day = items.item.forecast[i].day;
                    var high = items.item.forecast[i].high;
                    var low = items.item.forecast[i].low;
                    var dayDiv = document.createElement("div");
                    var img = document.createElement("img");
                    
                    text = items.item.forecast[i].text;
                    forecastOut = "<h3>" + day + " " + date + "</h3>" + "<p>High of " + high + "&#176" + "</p><p>Low of " + low + "&#176" + "</p><p>" + text + "</p>"; 
                    
                    img.src = images(items.item.forecast[i].code);
                    dayDiv.setAttribute("id", date);
                    dayDiv.setAttribute("class", "date");
                    dayDiv.innerHTML = forecastOut;
                    dayDiv.appendChild(img);
                    div.appendChild(dayDiv);
                    
                }
                
                var iframe = document.createElement("iframe");
                iframe.src = getMap(location.city);
                iframe.setAttribute("class", "map");
                main.appendChild(iframe);
                
                main.appendChild(div);
            }
            
            function images(conditionCodes){
                return conditionsMap.get(parseInt(conditionCodes));
            }
            
            function getMap(location){
                console.log(location);
                
                if(location == "Strawberry")
                    return "https://www.rainviewer.com/map.html?loc=38.195,600.0393,13&oFa=0&oC=0&oU=0&oCS=1&oF=0&oAP=0&rmt=4&c=1&o=83&lm=0&th=0";
                else if(location == "Bear Valley")
                    return "https://www.rainviewer.com/map.html?loc=38.4731,599.966,13&oFa=0&oC=0&oU=0&oCS=1&oF=0&oAP=0&rmt=4&c=1&o=83&lm=0&th=0";
                else if(location == "South Lake Tahoe")
                    return "https://www.rainviewer.com/map.html?loc=38.9264,600.0705,13&oFa=0&oC=0&oU=0&oCS=1&oF=0&oAP=0&rmt=4&c=1&o=83&lm=0&th=0";
                else if(location == "Kirkwood")
                    return "https://www.rainviewer.com/map.html?loc=38.689,599.923,13&oFa=0&oC=0&oU=0&oCS=1&oF=0&oAP=0&rmt=4&c=1&o=83&lm=0&th=0";
                else if(location == "Truckee")
                    return "https://www.rainviewer.com/map.html?loc=39.2699,599.8686,13&oFa=0&oC=0&oU=0&oCS=1&oF=0&oAP=0&rmt=4&c=1&o=83&lm=0&th=0";
                else if(location == "Newark")
                    return "https://www.rainviewer.com/map.html?loc=37.5325,597.9664,13&oFa=0&oC=0&oU=0&oCS=1&oF=0&oAP=0&rmt=4&c=1&o=83&lm=0&th=0";
                else if(location == "Giron")
                    return "https://www.rainviewer.com/map.html?loc=7.0774,646.8256,14&oFa=0&oC=0&oU=0&oCS=1&oF=0&oAP=0&rmt=4&c=1&o=83&lm=0&th=0";
                else
                    return "https://www.rainviewer.com/map.html?loc=38.1908,600.044,14&oFa=0&oC=0&oU=0&oCS=1&oF=0&oAP=0&rmt=4&c=1&o=83&lm=0&th=0";
                
            }
            
            
        </script>
    </head>
    
    <body>
        <h1>Weather of my favorite snowboarding places.</h1>
        
        
        <!--<iframe src="https://www.ndbc.noaa.gov/widgets/station_page.php?station=46237" style="border: solid thin #3366ff; width:300px; height:300px"></iframe> -->
        <iframe src="https://www.rainviewer.com/map.html?loc=38.7541,600.2847,9&oFa=0&oC=0&oU=0&oCS=1&oF=0&oAP=0&rmt=4&c=1&o=83&lm=0&th=0" width="100%" frameborder="0" style="border:0;height:55vh;" allowfullscreen></iframe>
        <div id='forecast'></div>
                  
        <!-- Weather for Strawberry, CA -->
        <script src='https://query.yahooapis.com/v1/public/yql?q=select * from weather.forecast where woeid in (select woeid from geo.places(1) where woeid="23510249")&format=json&callback=getWeatherDemo'> </script>
        <!-- Weather for Bear Valley, CA -->
        <script src='https://query.yahooapis.com/v1/public/yql?q=select * from weather.forecast where woeid in (select woeid from geo.places(1) where woeid="2360750")&format=json&callback=getWeatherDemo'> </script>
        <!-- Weather for Heavenly, CA -->
        <script src='https://query.yahooapis.com/v1/public/yql?q=select * from weather.forecast where woeid in (select woeid from geo.places(1) where woeid="28718499")&format=json&callback=getWeatherDemo'> </script>
       <!-- Weather for Kirkwood, CA -->
        <script src='https://query.yahooapis.com/v1/public/yql?q=select * from weather.forecast where woeid in (select woeid from geo.places(1) where woeid="2433131")&format=json&callback=getWeatherDemo'> </script>
         <!-- Weather for North Star, CA -->
        <script src='https://query.yahooapis.com/v1/public/yql?q=select * from weather.forecast where woeid in (select woeid from geo.places(1) where woeid="91987108
")&format=json&callback=getWeatherDemo'> </script>
        <!-- Weather for Newark, CA -->
        <script src='https://query.yahooapis.com/v1/public/yql?q=select * from weather.forecast where woeid in (select woeid from geo.places(1) where woeid="2459268
")&format=json&callback=getWeatherDemo'> </script>
        <!-- Weather for Giron, CO -->
        <script src='https://query.yahooapis.com/v1/public/yql?q=select * from weather.forecast where woeid in (select woeid from geo.places(1) where woeid="356678
")&format=json&callback=getWeatherDemo'> </script>
        
    </body>
</html>